:root > * {
  --md-primary-fg-color: #FF007B;
  --md-primary-fg-color--light: #FF007B;
  --md-primary-fg-color--dark:  #66ebff;
  --md-accent-fg-color: #66ebff;
}

.md-header {
  background: linear-gradient(135deg, #FF007B,#b38ade,#66ebff);
}

